In [ ]:
# Reference: https://jupyterbook.org/interactive/hiding.html
# Use {hide, remove}-{input, output, cell} tags to hiding content

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual
from IPython.display import display

sns.set()
sns.set_context('talk')
np.set_printoptions(threshold=20, precision=2, suppress=True)
pd.set_option('display.max_rows', 7)
pd.set_option('display.max_columns', 8)
pd.set_option('precision', 2)
# This option stops scientific notation for pandas
# pd.set_option('display.float_format', '{:.2f}'.format)

def display_df(df, rows=pd.options.display.max_rows,
               cols=pd.options.display.max_columns):
    with pd.option_context('display.max_rows', rows,
                           'display.max_columns', cols):
        display(df)

In [3]:
baby = pd.read_csv('babynames.csv')
baby

           Name Sex  Count  Year
0          Liam   M  19659  2020
1          Noah   M  18252  2020
2        Oliver   M  14147  2020
...         ...  ..    ...   ...
2020719  Verona   F      5  1880
2020720  Vertie   F      5  1880
2020721   Wilma   F      5  1880

[2020722 rows x 4 columns]

# Exercises