In [10]:
# HIDDEN
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

# The Students of DS100

Recall that the data science lifecycle involves the following broad steps:

1. **Question/Problem Formulation:** 
    1. What do we want to know or what problems are we trying to solve?  
    1. What are our hypotheses? 
    1. What are our metrics of success? <br/><br/>
1. **Data Acquisition and Cleaning:** 
    1. What data do we have and what data do we need?  
    1. How will we collect more data? 
    1. How do we organize the data for analysis?  <br/><br/>
1. **Exploratory Data Analysis:** 
    1. Do we already have relevant data?  
    1. What are the biases, anomalies, or other issues with the data?  
    1. How do we transform the data to enable effective analysis? <br/><br/>
1. **Prediction and Inference:** 
    1. What does the data say about the world?  
    1. Does it answer our questions or accurately solve the problem?  
    1. How robust are our conclusions? <br/><br/>

## Question Formulation

We would like to figure out if the data we have on student names in DS100 give
us any additional information about the students themselves. Although this is a
vague question to ask, it is enough to get us working with our data and we can
surely make the question more precise as we go.

## Data Acquisition and Cleaning

**In DS100, we will study various methods to collect data.**

Let's begin by looking at our data, the roster of student first names that we've downloaded from a previous offering of DS100.

Don't worry if you don't understand the code for this section. Instead, focus on the process and the charts that we show.

In [8]:
import pandas as pd

students = pd.read_csv('roster.csv')
students.head() # Show the first five rows of the data

     Name     Role
0  Keeley  Student
1    John  Student
2   BRYAN  Student
3  Kaylan  Student
4     Sol  Student

We can quickly see that there are some quirks in the data. For example, one of the student's names is all uppercase letters. In addition, it is not obvious what the Role column is for.

**In DS100, we will study how to identify anomalies in data and apply corrections.** The differences in capitalization will cause our programs to think that `'BRYAN'` and `'Bryan'` are different names when they are identical for our purposes. Let's convert all names to lower case to avoid this.

In [9]:
students['Name'] = students['Name'].str.lower()
students.head()

     Name     Role
0  keeley  Student
1    john  Student
2   bryan  Student
3  kaylan  Student
4     sol  Student